"""{{ project_description }}"""


def hello() -> str:
    """Return a greeting message.

    Returns:
        str: A greeting message from the {{ project_slug }} package.
    """
    return "Hello from {{ project_slug }}!"
