# Changelog

All notable changes to **{{ project_name }}** will be documented in this file.

This project follows a simple versioning approach:
- Patch releases for fixes
- Minor releases for backwards-compatible features
- Major releases for backwards-incompatible changes

## [Unreleased]

### Added

- Initial project scaffold.

## [0.1.0] - {{ copyright_year }}-02-01

### Added

- Initial release.
