[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description }}"
readme = "README.md"
license = "{{ license }}"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" }
]
requires-python = ">= {{ min_python_version }}"
dependencies = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
target-version = "py{{ min_python_version | replace('.', '') }}"
line-length = 90
show-fixes = true
respect-gitignore = true

[tool.ruff.lint]
select = [ "ALL" ]
ignore = [
    "D100",  # missing module docstring
    "D104",  # missing package docstring
    "D203",  # one-blank-line-before-class (conflicts with D211)
    "D213",  # multi-line-summary-second-line (conflicts with D212)
    "COM812",  # missing trailing comma in a collection
]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = [
    "S101",   # Use of assert detected
    "D",      # pydocstyle
    "PLR0913",  # Too many arguments in function definition
]
"__init__.py" = ["F401"]

[tool.ruff.lint.isort]
combine-as-imports = true
force-sort-within-sections = true
known-first-party = ["{{ project_slug }}"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.pytest.ini_options]
minversion = "9.0"
addopts = "-ra -q"
testpaths = ["tests"]
python_files = "test_*.py"
python_classes = "Test*"
python_functions = "test_*"

# when you add markers here, remember to
#   add below in poe test-unit task as well
markers = [
    "integration: integration tests",
]

[tool.pyright]
include = ["src"]

pythonVersion = "{{ min_python_version }}"
typeCheckingMode = "strict"

reportMissingImports = true
reportMissingTypeStubs = false
reportUnusedVariable = true
reportUnusedFunction = true

venvPath = "."
venv = ".venv"

[dependency-groups]
dev = [
    "bandit>=1.9.3",
    "detect-secrets>=1.5.0",
    "git-changelog>=2.7.1",
    "pip-audit>=2.10.0",
    "poethepoet>=0.40.0",
    "pre-commit>=4.5.1",
    "pyright>=1.1.408",
    "pytest>=9.0.2",
    "pytest-cov>=7.0.0",
    "ruff>=0.14.14",
]
docs = [
    "mkdocs>=1.6",
    "mkdocs-material>=9.5",
    "mkdocstrings[python]>=0.29",
]

[tool.poe]
executor.type = "uv"

[tool.poe.tasks]
# Linting, Formatting and Type Checking Tasks
lint = {cmd =  "ruff check src tests", help = "Run ruff lint checks"}
lint-fix = {cmd = "ruff check src tests --fix", help = "Fix ruff lint issues"}

format = {cmd = "ruff format src tests", help = "Format code using ruff"}
format-check = {cmd = "ruff format src tests --check", help = "Check code formatting using ruff"}

type-check = {cmd = "pyright", help = "Run type checking using pyright"}

# Security Tasks
security-bandit = {cmd = "bandit -r src -ll", help = "Run bandit security checks"}
security-audit = {cmd = "pip-audit", help = "Run pip-audit security checks"}

# Documentation Tasks
docs-serve = {cmd = "mkdocs serve --clean", help = "Serve documentation locally"}
docs-build = {cmd = "mkdocs build --clean", help = "Build documentation site"}

# Generation tasks
gen-changelog = "git-changelog -o CHANGELOG.md"

# Testing Tasks
test-unit = {cmd = "pytest -m 'not integration'", help = "Run unit tests"} # all unmarked tests
test-integration = {cmd = "pytest -m 'integration'", help = "Run integration tests"}

test-cov-check = {cmd = "pytest --cov={{ project_slug }} --cov-report=html:htmlcov --cov-report=term-missing --cov-fail-under=80", help = "Run tests with coverage"}
test-cov-gen = {cmd = "pytest --cov={{ project_slug }} --cov-report=html:htmlcov --cov-report=term-missing", help = "Run tests to generate coverage report"}

# Multi Version Testing
{%- for v in supported_python_versions %}
test-py{{ v | replace('.', '') }} = { cmd = "pytest", executor = { isolated = true, python = "{{ v }}" } }
{%- endfor %}
test-pyall = { parallel = [{%- for v in supported_python_versions %}"test-py{{ v | replace('.', '') }}"{{ "," if not loop.last }}{%- endfor %}] }

# Aggregate Tasks
clean = {cmd = "rm -rf build dist .pytest_cache .mypy_cache .ruff_cache .pytest_cache .tox .venv site/", help = "Clean build artifacts"}
pre-commit = {sequence = ["format", "lint-fix"], help = "Auto-fix formatting and lint issues (for pre-commit)"}
check = {sequence = ["lint", "format-check", "type-check", "test-cov-check"], help = "Run all checks (linting, formatting, type checking)"}
fix = {sequence = ["format", "lint-fix"], help = "Fix linting and formatting issues"}
gen = {sequence = ["gen-changelog"], help = "Generate project files"}
security = {sequence = ["security-bandit", "security-audit"], help = "Run all security checks"}
docs = {sequence = ["test-cov-gen", "docs-build"], help = "Build the documentation site"}
ci = {sequence = ["check", "security", "docs-build"], help = "Run all checks and tests for CI"}
