# {{ project_name }}

{{ project_description }}

## Features
- 

## Installation

Make sure you install [uv](https://github.com/astral-sh/uv?tab=readme-ov-file#installation).

Then run below command to install this project's dependencies:

```bash
uv sync
```

## Usage

```bash
uv run python -c "from {{ project_slug }} import hello; print(hello())"
```

Or activate the virtual environment:

```bash
source .venv/bin/activate
python -c "from {{ project_slug }} import hello; print(hello())"
```

## Contributing
We welcome contributions! Please check out the [CONTRIBUTING](CONTRIBUTING.md) guide for more information.

## FAQ

## Author

{{ author_name }} <{{ author_email }}>

## License
This project is licensed under the {{ license }} License. See the [LICENSE](LICENSE) file for details.
