# Changes here will be overwritten by Copier
_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: {{ _copier_conf.src_path }}
author_email: {{ author_email }}
author_name: {{ author_name }}
license: {{ license }}
project_description: {{ project_description }}
project_name: {{ project_name }}
project_slug: {{ project_slug }}
min_python_version: '{{ min_python_version }}'
year: '{{ year }}'
